//codeh highlight theme
@import 'vendor/highlightjs/solarized_dark.scss';
@import 'partials/conveniences.scss';

/* Some styles  exposing the data attributes visually as css content using the css attr() function  */
[class*="box"] {
  &:before {
    display: table;
    bottom: 20px;
    background-color: salmon;
    color: white;
    padding: 3px 2px;
    position: absolute;
    bottom: initial;
    left: initial;


    white-space: pre; //use this mode to allow \a as newline in csscontent

  //example specific styles

  .ex-height-flex & {
    content: attr(data-height);
  }

  .ex-multiple-calcum & {
    content: attr(data-width) ", " attr(data-height) "\a " attr(data-width-height-ratio);
  }


  }
}

.ex-height-flex, .ex-multiple-calcum {
  background-color: #555;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 200px; //starting height


  display: flex;
  flex-direction: column;

  [class*="box-"] {
    &:first-child, &:last-child {
      flex: 1;
    }

    &:nth-child(2){
      flex: 2;
    }

  }
}
